@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* variables */
:root{
  --text-black: #000;
  --color-hover: #20B15A;
}
/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: $bg-color; */
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;;
  font-style:normal;
  transition: all 0.3s ease-in-out;
}
ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0 !important;
}
ul  li {
      list-style: none;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
p {
  margin-top: 0;
  margin-bottom: 0; 
}

/* // custom scrollbar  */

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: var(--hover-color);
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background:#8C929F;
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  background-color: transparent;
}



::selection{
  background: #00FF94;
  opacity:0.1;
  color:#2e2e2e;
}

.container{
  max-width: 1280px;
  margin: auto;
}
.set-bg-img{
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}