/* home page style */

.hero{
    background: linear-gradient(180deg, #D7F5DC 0%, #D7F5DC 100%);
}
.hero-title{
    color: #000;
font-size: 50px;
font-weight: 700;
line-height: 65px;
font-weight: 700;
width:550px;
}
.hero-subtitle{
    color: #000;
font-family: Avenir;
font-size: 20px;
font-weight: 500;
line-height: normal;
width: 470px;
}